@font-face {
	font-family: 'NanumSquare';
	font-weight: 400;
	src: url(NanumSquareR.eot);
	src: local("NanumSquareR"), local("NanumSquareOTFR"),
		url(NanumSquareR.woff) format('woff'),
		url(NanumSquareR.ttf) format('truetype')
}
@font-face {
	font-family: 'NanumSquare';
	font-weight: 700;
	src: url(NanumSquareB.eot);
	src: local("NanumSquareB"), local("NanumSquareOTFB"),
		 url(NanumSquareB.woff) format('woff'),
		 url(NanumSquareB.ttf) format('truetype');
}
@font-face {
	font-family: 'NanumSquare';
	font-weight: 800;
	src: url(NanumSquareEB.eot);
	src: local("NanumSquareEB"), local("NanumSquareOTFEB"),
		 url(NanumSquareEB.woff) format('woff'),
		 url(NanumSquareEB.ttf) format('truetype');
}
@font-face {
	font-family: 'NanumSquare';
	font-weight: 300;
	src: url(NanumSquareL.eot);
	src: local("NanumSquareL"), local("NanumSquareOTFL"),
		 url(NanumSquareL.woff) format('woff'),
		 url(NanumSquareL.ttf) format('truetype');
}
